
@model Web.Application.ViewModels.Admin.Page.PageParentModel

@{
    ViewData["Title"] = "Home";
}

<!-- Carousel Section -->
@* <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="@Model.PageModel?.Contents?.Where(c => c.Tag == "Home_Banner1").Select(c => c.Content).FirstOrDefault()" class="d-block w-100 custom-height" alt="First Slide">
            <div class="text-container">
                <a href="@Url.Action("ServiceDetail", "Home")" class="text-decoration-none">
                    <h3 class="fs-1 fw-bold text-link">General Horoscope</h3>
                    <h6 class="fs-4 fw-bold text-link">This is Testing Only</h6>
                </a>
            </div>
        </div>
     
        <div class="carousel-item">
                <img src="@Model.PageModel?.Contents?.Where(c => c.Tag == "Home_Banner2").Select(c => c.Content).FirstOrDefault()" class="d-block w-100 custom-height" alt="Second Slide">
            <div class="text-container">
                <a href="@Url.Action("ServiceDetail", "Home")" class="text-decoration-none">
                    <h3 class="fs-1 fw-bold text-link">Muhrat</h3>
                    <h6 class="fs-4 fw-bold text-link">This is Testing Only</h6>
                </a>

            </div>
        </div>
        <div class="carousel-item">
                <img src="@Model.PageModel?.Contents?.Where(c => c.Tag == "Home_Banner3").Select(c => c.Content).FirstOrDefault()" class="d-block w-100 custom-height" alt="Third Slide">
            <div class="text-container">
                <a href="@Url.Action("ServiceDetail", "Home")" class="text-decoration-none">
                    <h3 class="fs-1 fw-bold text-link">Career</h3>
                    <h6 class="fs-4 fw-bold text-link">This is Testing Only</h6>
                </a>
            </div>

        </div>
        <div class="carousel-item">  
            <img src="@Model.PageModel?.Contents?.Where(c => c.Tag == "Home_Banner4").Select(c => c.Content).FirstOrDefault()" class="d-block w-100 custom-height" alt="Third Slide">
            <div class="text-container">
                <a href="@Url.Action("ServiceDetail", "Home")" class="text-decoration-none">
                    <h3 class="fs-1 fw-bold text-link">Astrology</h3>
                    <h6 class="fs-4 fw-bold text-link">This is Testing Only</h6>
                </a>
            </div>

        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
    <!-- Book Consultation Button -->
    <a asp-controller="Home" asp-action="Page" asp-route-name="Consultation" class="btn btn-danger consultation-btn">Book Consultation</a>
</div>  *@



<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        @{
            int index =0;
        }
        @foreach (var pageContent in Model.PageModel!.Contents!.Where(c => c.Tag.StartsWith("Home_Banner")))
        {
            var service = Model.ServiceToModel[index];
            index++;
            <div class="carousel-item @(pageContent.Tag == "Home_Banner1" ? "active" : "")">
                <img src="@pageContent.Content" class="d-block w-100 custom-height" alt="Slide">
                <div class="text-container">
                    @if (service != null)
                    {
                        <a asp-controller="Home" asp-action="ServiceDetail" asp-route-id="@service.Id" class="text-decoration-none">
                            <h3 class=" fw-bold text-link1 text-lg-start">@service.Title</h3>
                            <h6 class="fs-5 fw-bold text-link text-lg-start">@service.Content</h6>
                        </a>
                    }
                </div>
            </div>
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
    <!-- Book Consultation Button -->
    <a asp-controller="Home" asp-action="Page" asp-route-name="Consultation" class="btn btn-danger consultation-btn">Book Consultation</a>
</div>




<br>
<div class="container-fluid mx-auto">
    <div class="row">
        @foreach (var service in Model.ServiceToModel)
        {
            <div class="col-sm-6 col-md-3 mb-3">
                <div class="card h-100 custom-card">
                    <div class="card-body text-center d-flex flex-column justify-content-between">
                        <div class="rounded-circle bg-orange d-flex justify-content-center align-items-center mb-3 mx-auto" style="width: 60px; height: 60px;">
                            @Html.Raw(service.Icon)
                        </div>
                        <div>
                            <h5 class="card-title">@service.Title</h5>
                            <p class="card-text">@service.Content</p>
                            <a type="button" asp-controller="Home" asp-action="ServiceDetail" asp-route-id="@service.Id" class="btn btn-outline-danger">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <br>
    <section class="pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <h3 class="mb-3 font-monospace">@Model.PageModel?.Contents?.Where(c => c.Tag == "Home_ArticleHeading").Select(c => c.Content).FirstOrDefault()</h3>
                </div>
                <div class="col-6 carousel-icon">
                    <a class="btn btn-danger mb-3 me-1" href="#carouselExampleIndicators2" role="button" data-bs-slide="prev">
                        <i class="fa fa-arrow-left"></i>
                    </a>
                    <a class="btn btn-danger mb-3" href="#carouselExampleIndicators2" role="button" data-bs-slide="next">
                        <i class="fa fa-arrow-right"></i>
                    </a>
                </div>
                <div class="col-12">
                    <div id="carouselExampleIndicators2" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            @for (int i = 0; i < Model.ArticleToModel.Count(); i += 3)
                            {
                                <div class="carousel-item @(i == 0 ? "active" : "")">
                                    <div class="row">
                                        @for (int j = i; j < i + 3 && j < Model.ArticleToModel.Count(); j++)
                                        {
                                            var article = Model.ArticleToModel[j];
                                            <div class="col-md-4 mb-3">
                                                <div class="card custom-card">
                                                    <img class="img-fluid card-image" alt="100%x280" src="@article.ImageUrl" style="width:100%; max-height:250px">
                                                    <div class="card-body ">
                                                        <h4 class="card-title cardTitle-truncate">@article.Title</h4>
                                                        <p class="card-text card-truncate">@article.Content</p>
                                                        <a asp-action="Detail" asp-controller="Article" asp-route-Id="@article.Id" class="btn btn-outline-danger">Read More</a>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
   </div>

