@model Web.Application.ViewModels.Admin.Page.PageParentModel

<div class="container-fluid p-3">
    <div class="container ">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item list-unstyled text-decoration-none"><a class="text-decoration-none" style="color:darkred" asp-controller="Home" asp-action="index">Home</a></li>
                    <li class="breadcrumb-item active"><a class="text-decoration-none" style="color:darkred" href="javascript:void(0)">About Us</a></li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-12 col-sm-12">
                <h2 class="card-title mb-3">
                    @Model.PageModel?.Contents?.Where(c => c.Tag == "AboutUs_Title1").Select(c => c.Content).FirstOrDefault()
                </h2>
                <div class="mt-3">
                    <img src="@Model.PageModel?.Contents?.Where(c => c.Tag == "AboutUs_Imag1").Select(c => c.Content).FirstOrDefault()" class="img-fluid" alt="Image" style="width:100%;  height:250px" />
                </div>
                <div class="mt-4 text-justify">
                    <p class="fs-5">
                        @Model.PageModel?.Contents?.Where(c => c.Tag == "AboutUs_SubTitle1").Select(c => c.Content).FirstOrDefault()
                    </p>
                    <p class="fs-5">
                        @Model.PageModel?.Contents?.Where(c => c.Tag == "AboutUs_SubTitle2").Select(c => c.Content).FirstOrDefault()
                    </p>
                </div>
                <div class="mt-3 text-justify">
                    <p class="fs-5">
                        @Model.PageModel?.Contents?.Where(c => c.Tag == "AboutUs_Title3").Select(c => c.Content).FirstOrDefault()
                    </p>
                    <p class="fs-5">
                        @Model.PageModel?.Contents?.Where(c => c.Tag == "AboutUs_Subtitle3").Select(c => c.Content).FirstOrDefault()
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <h2 class="card-title mb-3">
                    @Model.PageModel?.Contents?.Where(c => c.Tag == "AboutUs_Title2").Select(c => c.Content).FirstOrDefault()
                </h2>
                <div>
                    <div class="row mb-3 text-justify">
                        <div class="col-3 col-md-4 col-lg-3">
                            <img src="https://images.astroyogi.com/astroyogi2017/english/images/infopages/happy_customers_56x56.png" class="rounded-circle bg-orange d-flex" alt="Customers" />
                        </div>
                        <div class="col-9 col-md-8 col-lg-9">
                            <strong class="fs-4">3 Cr.</strong><br />
                            <span class="text-muted fs-6">Happy Customers</span>
                        </div>
                    </div>
                    <div class="row mb-3 text-justify">
                        <div class="col-3 col-md-4 col-lg-3">
                            <img src="https://images.astroyogi.com/astroyogi2017/english/images/infopages/trusted_56x56.png" class="rounded-circle bg-danger d-flex" alt="Professionals" />
                        </div>
                        <div class="col-9 col-md-8 col-lg-9">
                            <strong class="fs-4">2000+</strong><br />
                            <span class="text-muted fs-6">Trusted Professionals</span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-3 col-md-4 col-lg-3">
                            <img src="https://images.astroyogi.com/astroyogi2017/english/images/infopages/languages_56x56.png" class="rounded-circle bg-orange d-flex" alt="Languages" />
                        </div>
                        <div class="col-9 col-md-8 col-lg-9">
                            <strong class="fs-4">11+</strong><br />
                            <span class="text-muted fs-6">Languages</span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-3 col-md-4 col-lg-3">
                            <img src="https://images.astroyogi.com/astroyogi2017/english/images/infopages/locations_56x56.png" class="rounded-circle bg-danger d-flex" alt="Countries" />
                        </div>
                        <div class="col-9 col-md-8 col-lg-9">
                            <strong class="fs-4">85</strong><br />
                            <span class="text-muted fs-6">Countries</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 col-md-4 col-lg-3">
                            <img src="https://images.astroyogi.com/astroyogi2017/english/images/infopages/experience_56x56.png" class="rounded-circle bg-orange d-flex" alt="Experience" />
                        </div>
                        <div class="col-9 col-md-8 col-lg-9">
                            <strong class="fs-4">22 Years</strong><br />
                            <span class="text-muted fs-6">Experience</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid my-3">
    <div class="row p-5" style="background-image: linear-gradient(45deg, red, yellow);">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 d-flex justify-content-between align-items-center ">
            <div>
                <h3 class="text-light fw-bold">Our Services</h3>
            </div>
            <div class="me-5">
                <a class="btn btn-danger me-1" href="#carouselExampleIndicators1" data-bs-slide="prev">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a class="btn btn-danger me-1" href="#carouselExampleIndicators1" data-bs-slide="next">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>
        </div>
        <section class="container mt-3">
            <div class="row p-3">
                <div class="col-12">
                    <div id="carouselExampleIndicators1" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            @for (int i = 0; i < Model!.ServiceToModel.Count(); i += 4)
                            {
                                <div class="carousel-item @(i == 0 ? "active" : "")">
                                    <div class="row">
                                        @for (int j = i; j < i + 4 && j < Model.ServiceToModel.Count(); j++)
                                        {
                                            var service = Model.ServiceToModel[j];
                                            <div class="col-sm-6 col-md-3 mb-3">
                                                <div class="card h-100 custom-card rounded-3">
                                                    <div class="card-body text-center d-flex flex-column justify-content-between">
                                                        <div class="rounded-circle bg-orange d-flex justify-content-center align-items-center mb-3 mx-auto" style="width: 60px; height: 60px;">
                                                            @Html.Raw(service.Icon)
                                                        </div>
                                                        <div>
                                                            <h5 class="card-title cardTitle-truncate">@service.Title</h5>
                                                            <p class="card-text card-truncate">@service.Content</p>
                                                            <a type="button" asp-controller="Home" asp-action="ServiceDetail" asp-route-id="@service.Id" class="btn btn-outline-danger">Learn More</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </div>
  </div>
       
 
