@using Web.Application.ViewModels.Admin.Page
@model PageToEditViewModel

@{
    ViewBag.Title = "Edit Page";
}


@* <div class="content-body"> *@
        <div class="row page-titles mx-5 mt-2">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Page" asp-action="List">Page </a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Edit</a></li>
        </ol>
    </div>
</div>
    <div class="container-fluid mt-3">
    <div class="row">
<div class="col-lg-8 offset-2">
    <div class="card mt-5">
        <div class="card-body">
            <h4 class="card-title text-center">Edit Page</h4>
            <div class="basic-form">
                <form method="post" asp-controller="Page" asp-action="Edit" >
                                <div class="form-row">
                                    <div class="form-group mb-3">
                                        <label class="form-label  fw-bold">Name</label>
                                        <input type="text" class="form-control " asp-for="Name" placeholder="Enter Your Name" />
                                        <span asp-validation-for="Name" style="color:red"></span>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label  class="form-label  fw-bold" asp-for="Tag"></label>
                                        <textarea asp-for="Tag" class="form-control" placeholder="Enter Your Tag Here"></textarea>
                                        <span asp-validation-for="Tag" class="text-danger"></span>
                                    </div>
                                    <table class="table table-fixed table-striped table-bordered mt-4">
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Tag</th>
                                                <th>Content</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model?.Contents != null)
                                            {
                                            @foreach (var item in Model.Contents)
                                            {
                                                   <tr>
                                                        <td class="id-column">@item.Id</td>
                                                        <td class="other-column">@item.Tag</td>
                                                        <td class="other-column"><span class="truncate">@item.Content</span></td>
                                                   
                                                    <td class="other-column">
                                                            <a type="button" asp-area="Admin" asp-controller="PageContent" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                                            <a type="button" asp-area="Admin" asp-controller="Article" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                                            <a type="button" asp-area="Admin" asp-controller="Article" asp-action="Detail" asp-route-id="@item.Id">Info</a>
                                                    </td>
                                                </tr>
                                            }
                                            }
                                        </tbody>
                                    </table>
                                    </div>
                                   
                              <button type="submit" class="btn btn-dark text-center">Save</button>
                </form>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}







