@using Web.Application.ViewModels.Admin.Service
@model IEnumerable<ServiceToViewModel>

@{
    ViewBag.Title = "Page";
}

    <div class="row page-titles mx-5  mt-2 float-end">
        <div class="col p-md-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="index">Service</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">List</a></li>
            </ol>
        </div>
    </div>

    <div class="container mt-5">
        <div class="d-flex justify-content-between align-items-center">
            <h1>Services</h1>
            <a type="button" class="btn btn-primary text-center" asp-controller="Service" asp-action="Create">Add Services</a>
        </div>
        <table class="table table-fixed table-striped table-bordered mt-4">
            <thead>
                <tr>
                    <th class="id-column">Id</th>
                    <th class="other-column">Title</th>
                    <th class="other-column">Content</th>
                    <th class="other-column">Icon</th>
                    <th class="other-column">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var services in Model)
                {
                    <tr>
                        <td class="id-column">@services.Id</td>
                        <td class="other-column">@services.Title</td>
                        <td class="other-column"><span class="truncate">@services.Content</span></td>
                        <td class="other-column">@services.Icon</td>
                        <td class="other-column">
                            <a type="button" asp-area="Admin" asp-controller="Service" asp-action="Edit" asp-route-id="@services.Id">Edit</a>
                            <a type="button" asp-area="Admin" asp-controller="Service" asp-action="Delete" asp-route-id="@services.Id">Delete</a>
                        @*     <a type="button" asp-area="Admin" asp-controller="Service" asp-action="Detail" asp-route-id="@services.Id">Info</a> *@
                    </tr>
                }
            </tbody>
        </table>
    </div>


